html {
	font-size: 16px;
}

@font-face {
	font-family: "fader";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/WF-026510-009147-001253-3db37e90290cc07b3aba50bdd2a10396.woff");

}

section{
	width:900px;
	margin: 0 auto;
}

section > img {
	max-width:100%;
}

div, h1, h3, p{
	max-width: 75%;
	margin: 0 auto;
	margin: green;
}

.categories{
	color: #0D9BCF;
	max-width: 640px;
	min-width: 576px;

}

.categories > a {
	text-transform:uppercase;
	font-family: "fader";
	font-size: 1rem;
	color: #0D9BCF;
	
}

#title {
	padding-top:28px;
	font-family:"fader";
	color: #222;
	font-size: 56px;
	line-height: 1.15em;
	max-width: 640px;
	min-width: 576px;

}




/*div is a block element and span is an inline element*/
